html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Inter, sans-serif;
}

.thegrid {
    position: fixed;
    inset: 0;

    display: grid;
    grid-template-columns: 27% 1fr;
    grid-template-rows: 70px 1fr 1fr 70px;

    padding-left: 60px;
    padding-right: 60px;
    gap: 10px;
    box-sizing: border-box;
}

* {
    min-height: 0;
    min-width: 0;
}

.navbar {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 80px;

    height: 40px;
    overflow: hidden;
    font-size: 16px;
    
}

.header {
    font-family: Convergence;
    font-size: 32px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    width: 180px;
    height: 30px;
    border: none;
}

.clock {
    margin-left: auto;
    background: #D9D9D9;
    padding: 6px 14px;
}

.dropdown-menu {
    font-size: 30px;
}

.form {
    grid-column: 1;
    grid-row: 2 / 4;

    display: flex;
    flex-direction: column;

    background: #AAA;
    color: white;
    padding: 10px 25px 15px 25px;
    font-size: 15px;
    gap: 7px;

    overflow: hidden;
}

.formLarge {
    font-family: 'Inter', sans-serif;
    font-size: 32px;

}

.formMedium {
    font-family: 'Inter', sans-serif;
    font-size: 24px;

}

.formSmall {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 4px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.form h2 {
    text-align: center;
    margin: 4px 0;
}


.form p {
    margin: 4px 0;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
}

.checkbox-item {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.add-place-button {
    margin-left: auto;
    font-size: 12px;
    background: none;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.submit-button {
    margin-left: auto;
    padding: 10px;
    border: none;
    background: #827F7F;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.image {
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;
    padding-left: 15px;
    padding-bottom: 10px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.taxis {
  grid-column: 2;
    grid-row: 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15px;
}



.buttons {
    grid-column: 1 / 3;
    grid-row: 4;

    display: flex;
    
}

.confirm {
    width: 280px;
    height: 38px;
    border: none;
    background: #827F7F;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.cancel {
    width: 140px;
    height: 38px;
    border: none;
    background: #827F7F;
    color: black;
    font-family: 'Inter', sans-serif;
    align-items: center;
    font-size: 20px;
}

.confirm {
    margin-left: auto;
}

.greenCar {
    background-color: #E4FBEA;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 192px;
    width: 401px;
}

.yellowCar {
    background-color: #FDF4D0;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 192px;
    width: 401px;
}

.blueCar {
    background-color: #E1ECFD;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 192px;
    width: 401px;
}

.blueCar p {
     font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.yellowCar p {
     font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.greenCar p{
     font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.freeButton {
    background-color: #86E29E;
    border-radius: 15px;
    float: right;
    font-size: 16px;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-right: 10px;
    border: none;
    height: 31px;
    width: 80px;
}

.busyButton {
    background-color: #518DFC;
    border-radius: 15px;
    float: right;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-right: 10px;
    border: none;
    height: 31px;
    width: 93px;
    text-align: center;
}

.pin {
    float: left;
    margin-bottom: 21px;
}

.position {
    margin-right: 21%;
}

.destination {
    margin-right: 7%;
}

.alert {
    float: right;
    margin-right: 20px;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}